.Accueil > .banniere {
    height: 110px;
}

.liste-locations {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px 60px; 
    padding: 55px 50px;
}

@media screen  and (max-width: 992px) {
    .liste-locations {
        background-color: unset;
        gap: 20px 0;
        grid-template-columns: 1fr;
        padding: 0;
    }
}