.tuile {
    background: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
    border-radius: 10px;
    min-height: 320px;
    position: relative;
}
.tuile:hover {
    cursor: pointer;
}

.tuile > img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.tuile:hover > img {
    opacity: 0.30;
}

.tuile > span {
    bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    left: 20px;
    margin-right: 20px;
    position: absolute;
    text-align: justify; 
}